[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx}]
indent_size = 2
indent_style = space

[*.html]
indent_size = 2
indent_style = tab

[*.{css,sass,scss}]
indent_size = 2
indent_style = space
